/* General Body Styles */

body {
    font-family: Helvetica, Arial, sans-serif; /* Set general font */
    font-size: 100%;
    margin: 10px; /* Add some margin */
    background-color: #d6d597; /* Light gray background */; 

}

footer {    
    font-size: 110%; /* Slightly smaller font size */
}
/* Heading Styles */

h1, h2 {
    text-align: justify; 
}

h1 {
    font-variant-caps: small-caps;
    
}
h2 {
    font-style: italic;
    
}

/* Paragraph Styles */

p {
    line-height: 1.6; /* Improve readability */
    color: #333; /* Dark gray text */
    text-align: justify;
    display: inline-block;
} 


span {
    
    font-weight: bold;
} 


/* Image Styles */

img {
    width: 30%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */    
}

.image-container {
    display: grid; /* Use grid layout */
    grid-template-columns: 30% 30% 30%; /*repeat(3,1fr) 3 equal columns */
    justify-content: space-between; /* Space between columns */
    /* gap: 2px;Space between grid items */
}

.grid-img {
    width: 100%; /* Full width in grid */
    height: auto; /* Maintain aspect ratio */
}

.container {
    display: grid; /* Use flexbox layout */
    grid-template-columns: 40% 60% /* Two equal columns */
    justify-content: space-between; /* Space between columns */
}

.text {
    grid-column: 1;  /* Text in first column */
    grid-row: span 1;
    
    
}
.container-img {
    grid-column: 2;
    width: 120%; /* Full width in container */
    height: auto; /* Maintain aspect ratio */
    
}

