/* General Body Styles */
body {
    font-family: Helvetica, Arial, sans-serif; /* Set general font */
    margin: 10px; /* Add some margin */
    background-color: #e6e6e6; /* Light gray background */; 
}
.div-container {
    display: flex;
    align-items: flex-start;
}
/* Heading Styles */

h1, h2 {
    background-color: #b3b3b3; /* #f4f4f4 Light gray background */
    text-align: justify; /* Center align headings */
}

h1 {
    font-variant-caps: small-caps;
    color: #373668; /* main heading */
}
h2 {
    font-style: italic;
    color: #1f0ebb; /* ubheadings */
}

/* Paragraph Styles */

p {
    line-height: 1.6; /* Improve readability */
    color: #333; /* Dark gray text */
    text-align: justify;
    display: inline-block;
} 

.text {
    flex: 2;
    margin-right: 5px;
}

span {
    
    font-weight: bold;
} 


/* Image Styles */

img {
    width: 30%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
    
}

.div-img {
    display: block;
    margin-left: 20px auto; /* Center the image */
    width: 25%; /* Set a specific width */
    height: auto; /* Maintain aspect ratio */
}
.image-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3,1fr); /* 3 equal columns */
    gap: 2px; /* Space between grid items */
}
.grid-img {
    width: 100%; /* Full width in grid */
    height: auto; /* Maintain aspect ratio */
}


